@font-face {
    font-family: Calligraphy;
    src: url(./fonts/stylish-calligraphy.ttf);
}


body {
    background-color: #2B2C2A;
}


header {
    color: #F0F8EF;
    font-family: Calligraphy;
    
}

h1 {
    font-size: 50pt;
    display: inline;

}

.LilWater {

    padding-left: 0%;
    clip-path: circle();
    float: right;
 
} 

.Bella {
    border: 5px #95A593;
    display: inline;
    position: relative;
    left: 130px;

}

.Rosie {
    position: relative;
    left: 275px;
    
}





