@font-face {
    font-family: Calligraphy;
    src: url(./fonts/stylish-calligraphy.ttf);
}


body {
    background-color: #1A1C19;
}


header {
    color: #F0F8EF;
    font-family: Calligraphy;
    
}

h1 {
    font-size: 50pt;
    display: inline;
    position: relative;
    left: 230px;

}


.Glowing {
    text-shadow: 0 0 10px #C3DEBF, 0 0 20px #4E604B, 0 0 30px #284B22, 0 0 40px #D1E2CE, 0 0 70px #6AA14F;
    

}



.LilWater {

    padding-left: 0%;
    clip-path: circle();
    float: right;
 
} 

h3 {
    font-size:17.5pt;


}



.Bella {
    border: 10px ridge#95A593;
    display: inline;
    position: relative;
    left: 130px;

}

.Rosie {
    border: 10px ridge#95A593;
    position: relative;
    left: 275px;
    
}





